<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('navstyle') %>
</head>
<body>
    <%- include('navbarLoggedInUser.ejs') %>
    <br><br><br>
    <h1 style="text-align: center;">Admin Data</h1>
    <a href="/admin/addMenu"></a>
    <a href="/admin/<%=rest[0].id%>/addMenu"><button>Add Menu</button></a>
    <% rest[0].Menus.forEach(el => { %>
        <a href="/admin/<%=rest[0].id%>/<%=el.id%>/edit"><button>Edit Menu</button></a>
    <% }) %>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%=data.name %></td>
                <td><%=data.email %></td>
                <td><%=data.UserProfile.phone%></td>
                <td><%=data.UserProfile.gender%></td>
            </tr>
        </tbody>
    </table>
    <br><br><br><br><br>
    <h1><%=rest[0].name %></h1>
    <img src="<%=rest[0].imgUrl%>" alt="<%=rest[0].name%>" width="200px" height="200px">
    <table>
        <thead>
            <th>Name</th>
            <th>Image</th>
            <th>Category</th>
            <th>Description</th>
            <th>Stock</th>
            <th></th>
            <th></th>
        </thead>
    </table>
</body>
</html>