<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('navstyle') %>
</head>
<body>
    <%- include('navbarLoggedInUser.ejs') %>
    <br><br><br>
    <h1 style="text-align: center;">Admin</h1>
    <a href="/admin/addMenu"></a>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%=data.name %></td>
                <td><%=data.email %></td>
                <td><%=data.UserProfile.phone%></td>
                <td><%=data.UserProfile.gender%></td>
            </tr>
        </tbody>
    </table>
    <br><br><br><br><br>
    <img src="http://pngimg.com/uploads/mcdonalds/mcdonalds_PNG1.png" alt="" width="200px" height="200px">
    <h1>Menu</h1>
    <br><br><br>
    <a href="/admin/addMenu"><button>Add Menu!</button></a>
    <table border="1">
        <thead>
            <th>Name</th>
            <th>Image</th>
            <th>Category</th>
            <th>Description</th>
            <th>Stock</th>
            <th>createdAt</th>
            <th>Price</th>
            <th>Action</th>
        </thead>
        <tbody>
            <% menu.forEach(menu => { %>
                <tr>
                    <td><%=menu.name %></td>
                    <td><img src="<%=menu.imgUrl %>" alt="" width="150px" height="100px"></td>
                    <td><%=menu.category %></td>
                    <td><%=menu.description %></td>
                    <td><%=menu.formatStock() %></td>
                    <td><%=dateFormat(menu.createdAt) %></td>
                    <td><%=menu.formatPrice %></td>
                    <td><a href="/admin/<%=menu.id %>/editMenu"><button>Edit Menu!</button></a><a href="/admin/<%=menu.id%>/delete"><button>Delete Menu!</button></a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>