<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('navstyle.ejs') %>
</head>
<body>
    <%- include('navbarLoggedInUser.ejs') %>
    <br><br><br><br>
    <form style="text-align: center;" action="/admin/<%=menu.id %>/editMenu" method="post">
        <label for="">Name</label><br>
        <input type="text" name="name" value="<%=menu.name %>" id=""><br><br>
        <label for="">ImgUrl</label><br>
        <input type="text" name="imgUrl" id="" value="<%=menu.imgUrl %>"><br><br>
        <label for="">Category</label><br>
        <input type="text" name="category" value="<%=menu.category %>"id=""><br><br>
        <label for="">Description</label><br>
        <input type="text" name="description" value="<%=menu.description %>"id=""><br><br>
        <label for="">Stock</label><br>
        <input type="number" name="stock" value="<%=menu.stock %>" id=""><br>
        <label for="">Price</label><br>
        <input type="number" name="price" value="<%=menu.price %>" id=""><br><br>
        <button type="submit">Edit Menu!</button>
    </form>
</body>
</html>