<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('navstyle.ejs') %>
</head>
<body>
    <%- include('navbarLoggedInUser.ejs') %>
    <br><br><br>
    <h1>Restaurant</h1>

    <p>
      <h4><%= data[0].name %> Menu's</h4>
    </p>

    <p>
      <form>
        <input type="text" name="search">
        <input type="submit" value="search">
      </form>
    </p>
    
    <p>
      <table border="1">
        <tr>
          <th>No</th>
          <th>Image</th>
          <th>Name</th>
          <th>Description</th>
          <th>Stock</th>
          <th>Price</th>
          <th>Date</th>
          <th>Action</th>
        </tr>

        <% data[0].Menus.forEach((el, index) => { %>

          <tr>
            <td><%= ++index %></td>
            <td><img src="<%= el.imgUrl %>" alt="<%= el.name %>" width="50px" height="50px"></td>
            <td><%= el.name %></td>
            <td><%= el.description %></td>
            <td><%= el.stock %></td>
            <td><%= el.price %></td>
            <td><%= el.createdAt %></td>
            <td>
              <a href="/user/restaurant/buy"><button>Buy Menu</button></a>
            </td>
          </tr>

        <% }) %>

      </table>  
    </p>
    
</body>
</html>