<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>user profile</h1>

    <table border="1">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Nomor HP</th>
          <th>Gender</th>
          <th>Action</th>
        </tr>
        <tr>
          <td><%= data.User.name %></td>
          <td><%= data.User.email %></td>
          <td><%= data.phone %></td>
          <td><%= data.gender %></td>
          <td>
            <a href="/user/<%= data.UserId %>/restaurant"><button>To Restaurant</button></a>
          </td>
        </tr>
      </table>

</body>
</html>