<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('navstyle.ejs') %>
</head>
<body>
    <%- include('navbarLoggedInUser.ejs') %>
    <br><br><br>
    <h1>user profile</h1>

    <table border="1">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Nomor HP</th>
          <th>Gender</th>
          <th>Action</th>
        </tr>
        <tr>
          <td><%= data.name %></td>
          <td><%= data.email %></td>
          <td><%= data.UserProfile.phone %></td>
          <td><%= data.UserProfile.gender %></td>
          <td>
            <a href="/user/restaurant"><button>To Restaurant</button></a>
          </td>
        </tr>
      </table>

</body>
</html>